<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gemini AI</title>
</head>
<body>

<h2>Text Chat</h2>

<form action="/chat" method="post">

    <textarea name="message"></textarea>

    <button type="submit">
        Send Text
    </button>

</form>

<hr>

<h2>Image + Text Chat</h2>

<form action="/chat-image"
      method="post"
      enctype="multipart/form-data">

    <textarea name="message"></textarea>

    <input type="file" name="image">

    <button type="submit">
        Send Image
    </button>

</form>

<hr>

<div th:if="${response}">
    <h3>Response:</h3>
    <p th:text="${response}"></p>
</div>

</body>
</html>